////////////////////////////////////////////////////////////////////
// General
////////////////////////////////////////////////////////////////////

.row {
  display: flex;
}
.icon {
  width: 50px;
  display: flex;
  justify-content: center;  
  align-items: center;
}